[mysqld]
port = 3310
basedir = /Users/maglietti/.local/share/mariadb-sandbox-server/11.8.9
datadir = /Users/maglietti/Code/magliettiGit/notes-app-demo/working/sandbox/3310/sandboxdata
log_error = /Users/maglietti/Code/magliettiGit/notes-app-demo/working/sandbox/3310/sandboxdata/error.log
performance_schema = ON
socket = /Users/maglietti/Code/magliettiGit/notes-app-demo/working/sandbox/3310/mysqld.sock
innodb_data_file_path = ibdata1:10M:autoextend
innodb_buffer_pool_size = 16M
innodb_log_file_size = 4M
skip_ssl

[client]
port = 3310
user = root
protocol = TCP
socket = /Users/maglietti/Code/magliettiGit/notes-app-demo/working/sandbox/3310/mysqld.sock
